/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#0f172a,#1e3a8a);
    color:#fff;
}

header{
    text-align:center;
    padding:50px 20px;
    background:#111827;
    box-shadow:0 4px 10px rgba(0,0,0,.3);
}

header h1{
    font-size:42px;
    color:#ff9800;
    margin-bottom:10px;
}

header p{
    font-size:18px;
    color:#d1d5db;
}

main{
    max-width:900px;
    margin:30px auto;
    padding:20px;
}

.card{
    background:#ffffff;
    color:#333;
    padding:25px;
    border-radius:15px;
    margin-bottom:25px;
    box-shadow:0 8px 20px rgba(0,0,0,.2);
}

.card h2{
    color:#0f172a;
    margin-bottom:15px;
}

.btn{
    display:inline-block;
    background:#25D366;
    color:#fff;
    padding:12px 25px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    margin-top:15px;
}

.btn:hover{
    background:#1faa59;
}

.apply-btn{
    display:inline-block;
    background:#ff9800;
    color:#fff;
    padding:12px 30px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    margin-left:10px;
}

.apply-btn:hover{
    background:#e68900;
}

footer{
    text-align:center;
    background:#111827;
    color:#fff;
    padding:20px;
    margin-top:30px;
}
