.apply-btn{
background:#ff9800;
color:white;
padding:12px 35px;
border-radius:8px;
text-decoration:none;
font-size:18px;
font-weight:bold;
display:inline-block;
}

.apply-btn:hover{
background:#e68900;
}
